body{
	background-image: url("tyson.png");
	background-size: cover,contain;
}

selection
{
color: red;
	border: 10px solid red;
	display: flex;
	flex-direction: column;
	padding: 10px;
	max-width: 500px;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
h2{
	display: flex;
	text-align: center;
	justify-content: center;
	color: yellow;
}